<ng-include src=" 'partials/masthead.html' "></ng-include>


 <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">
          <!-- Getting started
================================================== -->
<div class="bs-docs-section">
  <h1 id="download" class="page-header">Motivations</h1>

  <p class="lead">This project was created for research and learning purposes as a part of the Cloud Computing and Big Data course at Columbia University in the Spring semester of 2014. The course was taught under the tutelage of Professor Sambit Sahu.</p>

  <p>
  This project was developed and created by: Justin, Devika, Sharada, Karan
  </p>

  </div>