<ng-include src=" 'partials/masthead.html' "></ng-include>

 <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-9" role="main">

<div class="bs-docs-section">
  <h1 id="download" class="page-header">Reach out.</h1>

  <p class="lead">Email us at <a href="mailto:codeplagio@gmail.com">codeplagio@gmail.com.</a></p>