<ng-include src=" 'partials/masthead.html' "></ng-include>

<div class="container text-center">

    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="text-left">

            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-click="changeLanguage(0)">Python</button>
              <button type="button" class="btn btn-default" ng-click="changeLanguage(1)">Java</button>
              <button type="button" class="btn btn-default" ng-click="changeLanguage(2)">C</button>
              <button type="button" class="btn btn-default" ng-click="changeLanguage(3)">C++</button>
            </div>
            <button type="button" class="btn btn-default" style="float:right">Current Language: {{currentLanguage}}</button>
            <textarea ui-codemirror="editorOptions" ng-model="codeText">{{codeText}}</textarea>

        </div>
    </div>
    <div class="col-xs-2"></div>

</div>

  <p><hr></p>

<div class="container text-center extra-padding-top">
    <!--<button type="button" class="btn btn-default btn-lg">Upload Code</button> -->
    <button type="button" class="btn btn-danger btn-lg" ng-click="computeStatsForCode()">Compute!</button>
</div>

<p><hr></p>

<div ng-if="stats.length == 0" class="text-center"><h5>No stats to display yet!</h5></div>
<div class="container text-center" ng-if="statTitle && stats.length > 0">
    <h1>Statistics</h1>

    <div ng-repeat="comp in data">

        <p>{{comp[2]}}% match with {{comp[0]}} in {{comp[1]}}</p>

        <div class="col-xs-6 text-left">

        <p class="lead">Your code</p>
            <div ui-ace="{
                  useWrapMode : true,
                  showGutter: false,
                  theme:'twilight',
                  mode: 'xml',
                  onLoad: aceLoaded,
                  onChange: aceChanged
                }" readonly="true" ng-model="codeText">
            </div>
        </div>

        <p class="lead" style="float: right">Repository code</p>
        <div class="col-xs-6 text-left">
            <div ui-ace="{
                  useWrapMode : true,
                  showGutter: false,
                  theme:'twilight',
                  mode: 'xml',
                  onLoad: aceLoaded,
                  onChange: aceChanged
                }" readonly="true" ng-model="comp[3]">
            </div>

        </div>

        <span style="padding: 20px"></span>

    </div>
</div>
