 <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">CodePlag.io</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      
        <li class="active">
          <a href="/#/getting-started">Getting started</a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/about">About</a></li>
        <li><a href="/#/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>