<ng-include src=" 'partials/mastheadHome.html' "></ng-include>

 <div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9" role="main">

			<div class="bs-docs-section">



			</div>

		</div>

	</div>

</div>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Enforcing Code Honesty and Validation</h2>
    <p class="lead"> According to the testimonies of many computer science instructors at universities across the world, <a href="http://www.ics.uci.edu/~kay/checker.html">code plagiarism is rampant</a>, but not just in school, but in industry as well, and at hackathons. Here, we provide a simple online tool that uses top-of-the-line code plagiarism detecting algorithms on a massive github scale to give you the confidence of knowing that you have truly original code, at least across the internet, anyway. </p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="img/diff.jpg" alt="Sass and Less support" class="img-responsive">
        <h3>Fast, dynamic, and robust.</h3>
        <p>The research-backed algorithms we use to check code rely on a combination of <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.60.1199&rep=rep1&type=pdf">RTL N-gram analysis</a> and <a href="http://theory.stanford.edu/~aiken/publications/papers/sigmod03.pdf">classic MOSS local algorithms</a>.
        </p>
      </div>

      <div class="col-sm-4">
        <img src="img/responsive.jpg" alt="Responsive across devices" class="img-responsive">
        <h3>One framework, every device.</h3>
        <p>We keep hearing that mobile is the way of the future, and that’s exactly why this entire web application is built with responsive design. Just try and choose a window size that we haven't prepared for.</p>
      </div>

      <div class="col-sm-4">
        <img src="img/world.jpg" alt="Components" class="img-responsive">
        <h3>Be social.</h3>
        <p>If your code passes our honesty test, then fearlessly share it with <a href="https://www.facebook.com/">the world</a>.</p>
      </div>
    </div>

    <hr class="half-rule">

    <!--<a href="/#/getting-started" class="btn btn-danger btn-lg" style="padding: 20px 60px">Get Started</a> -->
    <a href="#getting-started" class="btn btn-danger btn-lg" style="padding: 20px 60px">Get Started</a>

  </div>
</div>
