<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    
    <!--<span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">CODEPLAG.IO</span> -->
    <h1>CodePlag.io</h1>
    
    <!-- <h1>Bootstrap</h1> -->
    <p class="lead">The most robust cloud computing platform for finding instances of code plagiarism.</p>
    <p class="lead">
      <a href="/#/getting-started" class="btn btn-outline-inverse btn-lg">Get Started</a>
    </p>
    <p class="version">v0.9</p>
    
</main>